/*    Telefonos de contacto      */

.ContainerContacto {
  margin: 0;
  padding: 0vh;
  background: linear-gradient(to bottom, #89b1df , var(--color-7), var(--color-7), #89b1df  );

}

.SucursalCard {
  background-size: cover;
  background-position: center;
}

.SucursalContactContainer {
  padding: 5vh 0;
  flex: 1;
  color: var(--color-1);
}

.SucursalContactTitle {
  font-size: 6vh;
  padding-bottom: 4vh;
  font-family: 'New Astro', sans-serif;
}
.SucursalContactContainer h4 {
  font-weight: bold;
  color: var(--color-2);
}

.SucursalDivider {
  margin: 8vh 0;
  border: 0;
  height: 2px;
  background: var(--color-1);
}

.TelefonosTitle h3 {
  font-size: 4vh;
  font-family: 'New Astro', sans-serif;
  color: var(--color-1);
  margin: 5vh 0;
}

.TelefonosUtiles {
  margin-top: 2vh;
  font-size: 4vh;
  margin-bottom: 2vh;
  font-family: 'New Astro', sans-serif;
  display: flex;
  flex-direction: row;
}

.TelefonosBlock {
  margin-bottom: 2vh;
  width: 100%;
}

.TelefonosBlock h5 {
  margin-bottom: 2vh;
  font-size: 3vh;
  color: var(--color-1);
}

.TelefonosBlock ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2vh;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.TelefonosBlock li::before {
  content: "• ";
  color: var(--color-4);
}