.ContainerContacto {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,#89b1df, var(--color-7), white, #89b1df);
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

/* --- Sección Contacto Fenix --- */
.SucursalCard {
  background-size: cover;
  background-position: center;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.SucursalContactContainer {
  padding: 5vh 10vw;
  
}

.SucursalContactTitle {
  font-size: 6vh;
  color: var(--color-1);
  margin-bottom: 4vh;
  font-family: "New Astro", sans-serif;
}

.SucursalContactContainer p,
.SucursalContactContainer h4 {
  font-weight: bold;
  color: var(--color-1);
  font-size: 3vh;
  margin-bottom: 2vh;
}

.LinkContacto {
  color: var(--color-1);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.LinkContacto:hover {
  color: var(--color-4);
}
.ContactoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.ContactoItem a {
  font-size: 3vh;
}

.IconoContacto {
  font-size: 3vh;
  color: var(--color-1);
}

.IconoContacto.whatsapp {
  color: #25d366;
}

.ContactoBTN {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px; 
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 0.7vh 1.8vh;
  margin-top: 2vh;
  font-size: 3vh;
  width: auto;
  transition: all 0.3s ease;
}
.ContactoBTN:hover {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  border: solid var(--color-6) 1px; 
  color: var(--color-6) !important;
  transform: translateX(7px);
}

/* ------   LINEAS DE CONTACTO   ------ */
.NumerosUtilesCard {
  background: var(--color-1);
  border-radius: 20px;
  margin: 0 5vw;
  padding: 4vh 2vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.NumerosUtilesContainer {
  text-align: center;
}

.NumerosUtilesTitle {
  font-size: 4vh;
  color: var(--color-7);
  font-family: "New Astro", sans-serif;
  margin-bottom: 3vh;
}

.NumerosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vh;
}

.NumeroCard {
  background: var(--color-7);
  border-radius: 16px;
  padding: 2.5vh;
  border: 2px solid #eee;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NumeroCard:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.NumeroCard h3 {
  color: var(--color-1);
  font-size: 2.5vh;
  font-family: "New Astro", sans-serif;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.NumeroCard .numero {
  color: var(--color-2);
  font-weight: bold;
  font-size: 2.3vh;
  padding: 1vh;
  transition: all 0.3s ease;
}
.NumeroCard .numero:hover {
  color: var(--color-7);
  box-shadow: 0 4px 10px rgba(7, 30, 60, 0.5);
  border-radius: 15px;
  background-color: var(--color-1);
}

.NumeroCard p {
  color: var(--color-2);
  font-weight: bold;
  font-size: 1.8vh;
}

.NumeroCard p {
  color: var(--color-1);
  font-weight: bold;
  margin: 0.5vh 0;
}

/* Íconos */
.NumeroIcon {
  font-size: 5vh;
  color: var(--color-1);
  margin-bottom: 1vh;
}

.NumeroIcon.whatsapp {
  color: #25d366;
}

/* --- Teléfonos compañías --- */

.TelefonosTitle h3 {
  font-size: 4vh;
  font-family: "New Astro", sans-serif;
  color: var(--color-1);
  margin: 4vh 0;
}

.TelefonosUtiles {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: space-around;
}

.TelefonosBlock {
  flex: 1 1 300px;
  margin-bottom: 3vh;
}

.TelefonosBlock h3 {
  font-size: 3vh;
  font-family: "New Astro", sans-serif;
  color: var(--color-1);
}

.TelefonosBlock ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2vh;
  line-height: 1.6;
}

.TelefonosBlock li {
  color: var(--color-1);
  font-weight: bold;
}

.TelefonosBlock li::before {
  content: "• ";
  color: var(--color-4);
}

/* --------   MEDIA QUERYS   -------- */

@media (max-width: 575px) {

  /*       Contacto FENIX      */
  .SucursalContactTitle {
    font-size: 4vh;
  }
  .SucursalContactContainer p,
  .SucursalContactContainer h4 {
    font-size: 2.5vh;
  }
  .ContactoItem a {
    font-size: 2.5vh;
  }
  .ContactoBTN {
    font-size: 2vh;
  }

  /*      Lineas de contacto       */
  .NumerosUtilesTitle {
    font-size: 3vh;
  }
  .NumeroCard h3 {
    font-size: 2vh;
  }
  .NumeroCard .numero {
    font-size: 2vh;
  }
  .NumeroCard p {
    font-size: 1.5vh;
  }
  
  .TelefonosTitle h3 {
    font-size: 3vh;
  }
  .TelefonosBlock {
    flex: 1 1 400px;
  }
  .TelefonosBlock h3 {
    font-size: 2.5vh;
  }
  .TelefonosBlock ul {
    font-size: 1.6vh;
  }
}
@media (min-width: 576px) and (max-width: 767px) {

  /*       Contacto FENIX      */
  .SucursalContactTitle {
    font-size: 4vh;
  }
  .SucursalContactContainer p,
  .SucursalContactContainer h4 {
    font-size: 2.5vh;
  }
  .ContactoItem a {
    font-size: 2.5vh;
  }
  .ContactoBTN {
    font-size: 2vh;
  }

  /*      Lineas de contacto       */
  .NumerosUtilesTitle {
    font-size: 3vh;
  }
  .NumeroCard h3 {
    font-size: 2vh;
  }
  .NumeroCard .numero {
    font-size: 2vh;
  }
  .NumeroCard p {
    font-size: 1.5vh;
  }

  .NumerosGrid {
    grid-template-columns: 1fr;
  }

  .SucursalContactContainer {
    padding: 5vh 5vw;
  }

  .NumeroIcon {
    font-size: 4vh;
  }

  .TelefonosTitle h3 {
    font-size: 3vh;
  }
 
   .TelefonosBlock {
    flex: 1 1 400px;
  }
   .TelefonosBlock h3 {
    font-size: 2.5vh;
  }
  .TelefonosBlock ul {
    font-size: 1.6vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /*       Contacto FENIX      */
  .SucursalContactTitle {
    font-size: 4vh;
  }
  .SucursalContactContainer p,
  .SucursalContactContainer h4 {
    font-size: 2.5vh;
  }
  .ContactoItem a {
    font-size: 2.5vh;
  }
  .ContactoBTN {
    font-size: 2vh;
  }

  /*      Lineas de contacto       */
  .NumerosUtilesTitle {
    font-size: 3vh;
  }
  .NumeroCard h3 {
    font-size: 2vh;
  }
  .NumeroCard .numero {
    font-size: 2vh;
  }
  .NumeroCard p {
    font-size: 1.5vh;
  }


  .TelefonosTitle h3 {
    font-size: 3vh;
  }
  .TelefonosBlock {
    flex: 1 1 300px;
  }
  .TelefonosBlock h3 {
    font-size: 2.5vh;
  }
  .TelefonosBlock ul {
    font-size: 1.8vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

  /*       Contacto FENIX      */
  .SucursalContactTitle {
    font-size: 5vh;
  }
  .TelefonosTitle h3 {
    font-size: 3vh;
  }
  .TelefonosBlock {
    flex: 1 1 200px;
  }
  .TelefonosBlock h3 {
    font-size: 2.5vh;
  }
  .TelefonosBlock ul {
    font-size: 1.8vh;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {

  /*       Contacto FENIX      */
  .SucursalContactTitle {
    font-size: 5vh;
  }
  .TelefonosBlock {
    flex: 1 1 200px;
  }
}