.ContainerTitulosCotizacion {
  background: linear-gradient(to bottom,#89b1df , var(--color-7),var(--color-7));
  padding: 8vh; 
}
.ContainerTitulosCotizacion h3 {
  margin: 0;
  padding-bottom: 3vh;
  text-align: center;
  font-family: 'New Astro', sans-serif;
  font-size: 6vh;
  font-weight: 400;
  color: var(--color-1);
}
.ContainerTitulosCotizacion p {
  margin: 0;
  font-family: 'New Astro', sans-serif;
  font-size: 4vh;
  font-weight: 400;
  color: var(--color-1);
  text-align: center;
  padding-bottom: 5vh;
}

.CotizacionResumen {
  background-color: var(--color-7);
  padding: 2vh;
  border-radius: 20px;
  border: solid 2px var(--color-5);
  margin: 0;
  box-shadow: 5px 2px 30px var(--color-5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.CotizacionResumen p {
  color: var(--color-5);
  font-size: 2vh;
  padding: 0;
}
.CotizacionResumen strong {
  color: var(--color-5);
  padding-left: 1vh;
}

.ContainerFormCotizacion {
  background: linear-gradient(to bottom, var(--color-7),#89b1df );
  padding: 1vh 5vh;
  padding-bottom: 8vh;
  color: var(--color-1);
  font-family: 'New Astro', sans-serif;
}

/* Botón "Cotizá Ahora" */
.cotiza-btn {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-1) 1px; 
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: auto;
  padding: 1vh 4vh;
  font-size: 3vh;
  transition: all 0.3s ease;
}

.cotiza-btn:hover {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  border: solid var(--color-6) 1px; 
  color: var(--color-6) !important;
  transform: translateX(7px);
}

/*-------------------MEDIA QUERYS--------------------*/

/* === Smartphones chicos (hasta 575px) === */
@media (max-width: 575px) {
  .ContainerTitulosCotizacion {
    padding: 6vh 1vh;
  }
  .ContainerTitulosCotizacion h3 {
    font-size: 4vh;
  }
  .ContainerTitulosCotizacion p {
    font-size: 2.5vh;
    padding-bottom: 0;
  }
  .CotizacionResumen {
    margin: 0;
  }
  .CotizacionResumen p {
    font-size: 1.3vh;
  }
  .cotiza-btn {
    width: auto;
    font-size: 2.5vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ContainerTitulosCotizacion {
    padding: 6vh 2vh;
  }
  .ContainerTitulosCotizacion h3 {
    font-size: 5vh;
  }
  .ContainerTitulosCotizacion p {
    font-size: 3vh;
  }
  .CotizacionResumen {
    margin: 0;
  }
  .CotizacionResumen p {
    font-size: 1.5vh;
  }
  .cotiza-btn {
    width: auto;
    font-size: 2.5vh;
  }
}

/* === Tablets horizontales y notebooks chicos (768px - 991px) === */
@media (min-width: 768px) and (max-width: 991px) {
  .ContainerTitulosCotizacion h3 {
    font-size: 5vh;
  }
  .ContainerTitulosCotizacion p {
    font-size: 3vh;
  }
  .CotizacionResumen {
    margin: 0;
  }
  .cotiza-btn {
    width: auto;
    font-size: 2.5vh;
  }
}

/* === Notebooks estándar (992px - 1199px) === */
@media (min-width: 992px) and (max-width: 1199px) {
  .ContainerTitulosCotizacion h3 {
    font-size: 5vh;
  }
  .ContainerTitulosCotizacion p {
    font-size: 3vh;
  }
  .CotizacionResumen {
    margin: 0 10vh;
  }
}

@media (min-width: 1200px) {
    .ContainerTitulosCotizacion h3 {
    font-size: 5vh;
  }
  .ContainerTitulosCotizacion p {
    font-size: 3vh;
  }
  .CotizacionResumen {
    margin: 0 15vh;
  }
}