.footerStyles {
  background: var(--color-1);
  color: var(--color-7);
  padding: 2rem 5vh;
  font-size: 2.5vh;
  
}

.footerTop {
  text-align: center;
  margin-bottom: 3vh;
}

.footerLogoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3vh;
  gap: 1.5rem;
  justify-content: center;
}

.footerLogoRow img {
  height: 10vh;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerLeft, .footerRight{
  flex: 1 1 300px;
  min-width: 280px;
  padding-right: 3vh;
}

.footerLink {
  color: #e0f0ff;
  text-decoration: underline;
}
.footerLink:hover {
  color: var(--color-3);
}

.footerBottom {
  margin-top: 1vh;
  text-align: center;
  font-size: 2.2vh;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 3vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerBottom span {
  flex: 1;
  text-align: center;
}

.isdevsLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.isdevsLogo {
  height: 12vh;
  transition: transform 0.3s ease;
}

.isdevsLogo:hover {
  transform: scale(1.3);
}


@media (max-width: 991px) {

  .footerLink{
    font-size: 2vh;
  }
  .footerLogoRow img {
    height: 6vh;
  }
  .footerContainer {
    flex-direction: column;
  }
  .footerLeft, .footerRight {
    font-size: 2vh;
  }
  .footerBottom {
    flex-direction: column;
    gap: 1rem;
  }
  .footerBottom span {
    text-align: center; /* centrado en móvil */
  }
  .isdevsLogo {
    height: 12vh;
  }
}
