/*        ESTILOS CARRUSEL HOME         */

.ContainerCarruselHome {
  background-color: white;
   /* padding: 2rem;  */
}

.ContainerCarruselHome img {
  object-fit: cover; /* Mantiene relación de aspecto sin deformar */
  height: 81vh;
  width: 100%;
}

/*        ESTILOS PORQUE ELEGIRNOS        */

/* TITULO */
.tituloElegirnos {
  margin: 0;
  padding-top: 10vh;
  padding-left: 12vh;
  background-color: var(--color-7);
  font-family: 'New Astro', sans-serif;
  font-size: 7.5vh;
  font-weight: 400;
  color: var(--color-1);
  text-align: left;
}

/* CONTENEDOR PRINCIPAL */
.ContainerElegirnos {
  display: grid;
  gap: 2rem;
  margin: 0;
  padding: 5vh 25vh;
  /* background-image: url('../assets/LogoFenixBlanco.png'); */
  perspective: 1000px; /* el rotateX se vea 3D */
  background: linear-gradient(to bottom, var(--color-7),#89b1df,var(--color-7));
}

/* CADA CARD */
.cardElegirnos {
  position: relative;
  background-color: var(--color-1);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  /* min-height: 60vh;  */
  padding: 3vh 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cardElegirnos:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
  
}

/* OVERLAY DE CADA CARD */
.cardOverlayElegirnos {
  background: rgba(0,0,0,0.6);
  padding: 2rem;
  text-align: center;
  color: white;
  border-radius: 15px;
  max-width: 100%;
  
}

.cardOverlayElegirnos img {
  width: 20%;
}

.cardOverlayElegirnos h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'New Astro', sans-serif;
}

.cardOverlayElegirnos p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

/* BOTÓN */
.cardLinkButtonElegirnos {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  color: var(--color-6);
  border: solid var(--color-6) 1px;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 140px;
  font-size: 3vh;
  padding: 1vh;
}

.cardLinkButtonElegirnos:hover {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px; 
  color: white !important;
}

/* ===== SEGUROS HOME ===== */
.tituloSegurosHome {
  margin: 0;
  padding-top: 10vh;
  padding-left: 12vh;
  background-color: var(--color-7);
  font-family: 'New Astro', sans-serif;
  font-size: 7.5vh;
  font-weight: 400;
  color: var(--color-1);
  text-align: left;
}

.containerSegurosHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  padding: 8vh 10vh;
  background: linear-gradient(to bottom, var(--color-7),#89b1df,var(--color-7),white);
  text-align: center;
  perspective: 1000px; /* da profundidad */
  height: auto;
}

.seguroItem {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  background-color: var(--color-1);
  /* background: linear-gradient(to left, #89b1df, #358ae9, #358ae9, #89b1df); */
  transition: transform 0.4s ease, z-index 0.3s ease, box-shadow 0.4s ease;
  cursor: pointer;
  
}

.seguroItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Título sobre la imagen */
.seguroTitulo {
  position: absolute;
  top: 10px;   /* lo pega a la parte superior */
  left: 50%;   /* lo centra */
  transform: translateX(-50%);
  padding: 20px 0px;
  font-size: 5.2vh;
  font-weight: bold;
  color: var(--color-7) !important; 
  font-family: 'New Astro', sans-serif;
  width: 100%;
}
.seguroTituloBajo {
  position: absolute;
  top: 270px;
  color: var(--color-5);
  padding: 0vh 5vh;
  font-size: 1.5rem;
  font-family: 'New Astro', sans-serif;
}

.seguroItem h3 {
  margin: 15px 12px;
  font-size: 1.7rem;
  color: var(--color-7);
  font-family: 'New Astro', sans-serif;
  height: 4vh;
}

/* EFECTO HOVER */
.containerSegurosHome:hover .seguroItem {
  /* transform: scale(0.9); */
  /* opacity: 0.7; */
  z-index: 0;
}

.containerSegurosHome .seguroItem:hover {
  transform: scale(1.15);
  opacity: 1;
  z-index: 10;
  box-shadow: 0px 15px 35px rgba(0,0,0,0.4);
 /*  background: linear-gradient(to left, #fbc296,var(--color-5),var(--color-5),#fbc296);  */
  /* color: var(--color-6) !important; */

}
.containerSegurosHome .seguroItem h3:hover{
  color: var(--color-4);
}


/*        ESTILOS CONTADORES HOME        */

.ContainerContadoresHome {
  background: linear-gradient(135deg, var(--color-1), var(--color-7), var(--color-7), var(--color-7), var(--color-1));
  color: var(--color-5);
  text-align: center;
  padding: 50px 20px;
  border-radius: 50px;
  margin: 6vh;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1); /* Sombra sutil para mayor profundidad */
}

.ContainerContadoresHome h2 {
  font-size: 6vh;
  margin-bottom: 10px;
  font-family: 'New Astro', sans-serif;
  color: var(--color-1);
  font-weight: 500; /* Negrita ligera */
}

.ContainerContadoresHome p {
  margin-bottom: 40px;
  color: var(--color-1);
  font-weight: bold;
  font-size: 3vh;
  padding: 0 30vh;
}

.Contadores {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 6vh;
  flex-wrap: wrap;
}

.ContadorItem {
  border: 2px solid var(--color-4);
  background: linear-gradient(to bottom, var(--color-4), white, white, var(--color-4));
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ContadorItem h3 {
  font-size: 5vh;
  font-weight: bold;
  margin: 0;
  color: var(--color-5); /* Naranja para los números */
}

.ContadorItem p {
  font-size: 2.8vh;
  padding: 0vh 1vh;
  font-family: 'New Astro', sans-serif;
  color: var(--color-1);
}

.ContadorItem:hover {
  transform: scale(1.1); /* Efecto hover */
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
}

.ContadorItem h3:hover {
  color: var(--color-2); /* Azul para el hover de los números */
}

.BtnConocenos {
  background: linear-gradient(to bottom, #fbc296, #fbc296, #f8992e);
  color: var(--color-6);
  border: solid var(--color-6) 1px;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 140px;
  font-size: 3vh;
  margin-top: 20px;
}

.BtnConocenos:hover {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px;
  color: white !important;
}

/*        ESTILOS CARRUSEL DE COMPANIAS (INFINITO)       */

.containerCompaniasCarrusel {
  overflow: hidden;
  width: 100%;
  
  /* background: rgb(228, 231, 237); */
  background: linear-gradient(to top,var(--color-7),white);
  padding: 8vh 0;
  
}

.containerCompaniasCarrusel h3 {
  margin: 0;
  font-family: 'New Astro', sans-serif;
  font-size: 6vh;
  font-weight: 400;
  color: var(--color-1);
  text-align: center;
  
}


.carrusel-track {
  display: flex;
  width: calc(200%); /* doble porque duplicamos logos */
  animation: scroll 20s linear infinite;
}

.carrusel-slide {
  flex: 0 0 auto;
  width: 200px; /* ancho por logo, ajusta según diseño */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.carrusel-slide img {
  max-height: 100px;
  object-fit: contain;
}

/* Animación horizontal infinita */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/*        ESTILOS REDES SOCIALES        */

.containerRedesHome {
  text-align: center;
  margin: 0;
  padding: 8vh 0;
  font-family: 'New Astro', sans-serif;
  background: linear-gradient(to bottom, var(--color-7),white,#89b1df);
}

.tituloRedes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

.tituloRedes h2 {
  font-size: 6vh;
  font-weight: 400;
  color: var(--color-1);
  padding: 0 5vh;
}

.tituloRedes h2 span {
  font-weight: bold;
}

.tituloRedes .linea {
  flex: 1;
  height: 2px;
  background-color: var(--color-1);
  
}

.redesIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.4s;
  padding-top: 3vh;
}

.redesIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  color: white; /* texto/blanco */
  transition: all 0.3s ease;
}

.redesIcons a.facebook {
  background-color: #1877F2;
}

.redesIcons a.twitter {
  background-color: #000000;
}

.redesIcons a.instagram {
  background: radial-gradient(circle at 30% 107%, 
              #fdf497 0%, #fdf497 5%, #fd5949 45%, 
              #d6249f 60%, #285AEB 90%);
}

.redesIcons a.youtube {
  background-color: #FF0000;
}

.redesIcons a.linkedin {
  background-color: #0077B5;
}

.redesIcons a:hover {
  transform: scale(1.1);
}

/* Animación suave */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  
  /*     ESTILOS PORQUE ELEGIRNOS     */
  .ContainerElegirnos {
    padding: 3vh;
  }
  .tituloElegirnos {
    font-size: 6vh;
    padding-left: 15vh;
    padding-bottom: 2vh;
    
  }
  .cardOverlayElegirnos img {
    width: 30%;
  }
  .cardOverlayElegirnos h3 {
    font-size: 4.5vh;
    
  }
  .cardOverlayElegirnos p {
    font-size: 2.5vh;
  }
  .cardLinkButtonElegirnos {
    font-size: 2.5vh;
  }

  /*     ESTILOS SEGUROS HOME     */
  .tituloSegurosHome {
    font-size: 6vh;
    padding-left: 6vh;
  }
  .containerSegurosHome {
    padding: 10vh 12vh;
  }
  .seguroTitulo {
    padding: 2.5vh 0;
    font-size: 5vh;
  }
  .seguroTituloBajo {
    top: 270px;
    font-size: 4vh;
    padding: 0 3.3vh;
  }

  /*     ESTILOS CONTADORES SIEMPRE LISTOS     */
  .ContainerContadoresHome h2 {
    width: 100%;
    height: auto;
  }
  .ContainerContadoresHome p {
    padding: 0;
  } 
  .Contadores {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 6vh;
    flex-wrap: wrap;
  }
}
