
/*        ESTILOS PORQUE ELEGIRNOS        */

/* TITULO */
.tituloElegirnos {
  margin: 0;
  padding-top: 10vh;
  padding-left: 5vh;
  background-color: var(--color-7);
  font-family: 'New Astro', sans-serif;
  font-size: 6vh;
  font-weight: 400;
  color: var(--color-1);
  text-align: left;
}

/* CONTENEDOR PRINCIPAL */
.ContainerElegirnos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-ajuste de columnas */
  gap: 2rem;
  margin: 0;
  padding: 7vh 5vh; 
  /* background-image: url('../assets/LogoFenixBlanco.png'); */
  perspective: 1000px; /* el rotateX se vea 3D */
  background: linear-gradient(to bottom, var(--color-7),#89b1df,var(--color-7));
}

/* CADA CARD */
.cardElegirnos {
  position: relative;
  background-color: var(--color-2);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  padding: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 5px 2px 40px var(--color-1);
}

.cardElegirnos:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
  
}

/* OVERLAY DE CADA CARD */
.cardOverlayElegirnos {
  background: rgba(0,0,0,0.6);
  padding-bottom: 5vh;
  text-align: center;
  color: white;
  border-radius: 15px;
  max-width: 100%;
  
}

.cardOverlayElegirnos img {
  width: 10vh;
}

.cardOverlayElegirnos h3 {
  font-size: 4vh;
  font-family: 'New Astro', sans-serif;
}

.cardOverlayElegirnos p {
  font-size: 2.2vh;
  margin: 2vh 0vh;
  /* padding-bottom: 2vh; */
  padding: 1vh 2vh; 
  font-weight: bold;
  color: var(--color-4);
}

/* BOTÓN */
.cardLinkButtonElegirnos {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  color: var(--color-6);
  border: solid var(--color-6) 1px;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  font-size: 2.5vh;
  padding: 1vh;
  margin: 0;
  transition: all 0.3s ease;
}

.cardLinkButtonElegirnos:hover {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px; 
  color: white !important;
  transform: translateX(7px);
}

/*-------------------MEDIA QUERYS--------------------*/

/* === Smartphones chicos (hasta 575px) === */
@media (max-width: 575px) {
    .tituloElegirnos {
        padding-left: 3vh;
        font-size: 4vh;
        text-align: center;
    }
    .ContainerElegirnos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
        margin: 0;
        padding: 5vh; 
    }
    .tituloElegirnos {
        font-size: 4vh !important;
        padding-top: 10vh;
        text-align: left; 
        padding-left: 5vh;
    }
    .cardOverlayElegirnos img {
        width: 20%;
    }
    .cardOverlayElegirnos h3 {
        font-size: 2.8vh;
    }
    .cardOverlayElegirnos p {
        font-size: 1.5vh !important;
        margin: 0;
        padding: 1vh;
        padding-bottom: 2vh;
    }
    .cardLinkButtonElegirnos {
        font-size: 1.8vh;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .ContainerElegirnos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
        margin: 0;
        padding: 7vh 5vh; 
    }
    .tituloElegirnos {
        font-size: 4vh !important;
        padding-top: 10vh;
        text-align: left; 
        padding-left: 5vh;
    }
    .cardOverlayElegirnos img {
        width: 15%;
    }
    .cardOverlayElegirnos h3 {
        font-size: 3vh;
    }
    .cardOverlayElegirnos p {
        font-size: 1.8vh !important;
        margin: 0;
        padding: 2vh 4vh;
        padding-bottom: 3vh;
    }
    .cardLinkButtonElegirnos {
        font-size: 2vh;
    }
}

/* === Tablets horizontales y notebooks chicos (768px - 991px) === */
@media (min-width: 768px) and (max-width: 991px) {
    .ContainerElegirnos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
        margin: 0;
        padding: 7vh 5vh; 
    }
    .tituloElegirnos {
        font-size: 4.5vh;
        padding-left: 5vh;
        text-align: left;
    }
    .tituloElegirnos {
        padding: 8vh 0;
        padding-left: 8vh;
    }
    .ContainerElegirnos {
        padding: 0 8vh;
    }

    .cardOverlayElegirnos img {
        width: 15%;
    }

    .cardOverlayElegirnos h3 {
        font-size: 4.5vh;
    }

    .cardOverlayElegirnos p {
        font-size: 2.4vh;
        padding: 2vh 0vh;
        margin: 0 8vh;
    }
    .cardLinkButtonElegirnos {
        font-size: 2.8vh;
    }
}

/* === Notebooks estándar (992px - 1199px) === */
@media (min-width: 992px) and (max-width: 1199px) {
    .tituloElegirnos {
        font-size: 4.5vh;
        
    }
    .ContainerElegirnos {
        
    }
    .cardOverlayElegirnos img {
        width: 8vh;
    }

    .cardOverlayElegirnos h3 {
        font-size: 3vh;
    }
    
    .cardOverlayElegirnos p {
        font-size: 1.6vh;
        padding: 1vh 0.5vh;
        margin: 0vh;
    }
    .cardLinkButtonElegirnos {
        font-size: 1.6vh;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .tituloElegirnos {
        font-size: 5vh;
        
    }
    .ContainerElegirnos {
        
    }
    .cardOverlayElegirnos img {
        width: 8vh;
    }

    .cardOverlayElegirnos h3 {
        font-size: 3.5vh;
    }
    
    .cardOverlayElegirnos p {
        font-size: 1.8vh;
        padding: 1vh 0.5vh;
        margin: 0vh;
    }
    .cardLinkButtonElegirnos {
        font-size: 1.8vh;
    }
}