/*        ESTILOS CARRUSEL HOME         */
 
.ContainerCarruselHome {
  background: linear-gradient(to bottom,#89b1df , var(--color-7),var(--color-7));
  padding: 5vh; 
}

.ContainerCarruselHome .carousel {
  border-radius: 20px;
  overflow: hidden;
}

.TextoCarrusel {
  color: var(--color-7);
  font-family: 'New Astro', sans-serif;
  font-size: 5vh;
  background: rgba(0,0,0,0.6);
  padding: 2vh 6vh;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.TextoCarrusel:hover {
  color: var(--color-4) !important;
}

.ContainerCarruselHome img {
  height: 70vh;
  width: 100%;
  border-radius: 20px; 
} 

/*-------------------MEDIA QUERYS--------------------*/

/* === Smartphones chicos (hasta 575px) === */
@media (max-width: 575px) {
  .ContainerCarruselHome {
    padding: 1vh;
  }
  .ContainerCarruselHome img {
    height: auto;
  }
  .TextoCarrusel {
    font-size: 2vh;
    padding: 1vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ContainerCarruselHome {
    padding: 1vh;
  }
  .ContainerCarruselHome img {
    height: auto;
  }
  .TextoCarrusel {
    font-size: 2vh;
    padding: 1vh;
  }
}

/* === Tablets horizontales y notebooks chicos (768px - 991px) === */
@media (min-width: 768px) and (max-width: 991px) {
  .ContainerCarruselHome {
    padding: 1vh;
  }
  .ContainerCarruselHome img {
    height: auto;
  }
  .TextoCarrusel {
    font-size: 3vh;
    padding: 1vh;
  }
}

/* === Notebooks estándar (992px - 1199px) === */
@media (min-width: 992px) and (max-width: 1199px) {

  .ContainerCarruselHome img {
    height: auto;
  }
  .TextoCarrusel {
    font-size: 4vh;
    padding: 1vh 4vh;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .ContainerCarruselHome img {
    height: auto;
  }
  .TextoCarrusel {
    font-size: 5vh;
    padding: 1vh 4vh;
  }
}