/* -------------------- PERSONALIZACIÓN NAVBAR -------------------- */

/*   ESTILOS NAVBARTOP     */

.navbarTop {
  background: linear-gradient(to bottom, var(--color-1), #89b1df, var(--color-1));
  padding: 0.5vh; 
  display: flex;
  justify-content: right;
  color: black;
}
.navbarTop a {
  margin-right: 4vh;
  color: var(--color-4);
}
.navbarTop a:hover {
  color: var(--color-5);
  transform: scale(1.45);
}


/*   FONDO Y LETRAS DEL NAVBAR     */

.navbarStyles {
  background-color: var(--color-1);
  color: white;
  padding: 1vh 6vh;
}

.navbarStyles .nav-link {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  color: white;
  font-weight: bold; 
  font-size: 2.6vh;
  
}

.navbarStyles .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  /* background-color: var(--color-3) !important;  */
  /* color: var(--color-3) !important; */

  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbarStyles .nav-link:hover::after {
  width: 80%;
  background-color: var(--color-3); 
}

.navbarStyles .nav-link:hover {
  color: var(--color-3);
  
}

.navbarStyles .navbar-brand {
  padding: 0;
  margin: 0;
  
}

/* Logo de la marca */

.navbar-brand img {
  height: 12vh;
}

/* Aplica al texto "Fenix" en el logo */
.navbarStyles .navbar-brand h2 {
  color: white !important;
  font-family: 'New Astro', sans-serif;
  font-size: 6.5vh;
  padding-top: 1vh;
}

/* .navbarStyles .navbar-brand h3 {
  color: white !important;
  font-family: 'New Astro', sans-serif;
  font-size: 2.4vh;
  padding-bottom: 0;
} */

.logoTextStiles {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
}

/* -------------------- BOTÓN HAMBURGUESA EN BLANCO -------------------- */
.toggleStyles {
  
}

.navbarStyles .navbar-toggler {
  border-color: white; /* borde blanco */
}

.navbarStyles .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Botón "drop-down" */

.custom-dropdown .dropdown-menu {
  background-color: var(--color-1);
  border: none;
}

.custom-dropdown .dropdown-item {
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 2.4vh;
}

.custom-dropdown .dropdown-item:hover {
  background-color: var(--color-2); 
  color: white;
  font-weight: bold;
}


/* Botón "Cotizá Ahora" */
.cotiza-cta {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px; 
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 140px;
  font-size: 0.95rem;
}

.cotiza-cta:hover {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  border: solid var(--color-6) 1px; 
  color: var(--color-6) !important;
}


/* -------------------- Logo Whatsapp flotante -------------------- */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

/* -------------------- Logo Instagram flotante -------------------- */
/* .instagram-float {
  position: fixed;
  bottom: 90px; 
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.instagram-float img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.instagram-float:hover {
  transform: scale(1.1);
} */


/* -------------------- Media Queries para pantallas pequeñas -------------------- */

@media (max-width: 767px) {

  /* Mover el botón hamburguesa a la izquierda */

  .navbarStyles .navbar-toggler {  
    color: var(--color-2);
  }

  /* Mover el logo a la derecha */
  .navbarStyles .navbar-brand {
    margin-right: 22vh;
    
  }

  /* Asegura que los links estén alineados a la izquierda */
  .navbarStyles .navbar-nav {
    display: flex;
    flex-direction: column; /* Los enlaces estarán en columna */
    align-items: flex-start; /* Los enlaces estarán alineados a la izquierda */
    width: 100%;
    
  }
}

/*          FONTS         */

@font-face {
  font-family: 'New Astro';
  src: url('/src/assets/fonts/New\ Astro\ Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


