/* -------------------- PERSONALIZACIÓN NAVBAR -------------------- */

/*   FONDO Y LETRAS DEL NAVBAR     */

.navbarStyles {
  background-color: #1F5D89;
  color: white;
  padding: 1vh 10vh;
}

.navbarStyles .nav-link {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  color: white !important;
  font-weight: bold; 
  /* font-family: 'New Astro', sans-serif; */ 
  font-size: 2.4vh;
}

.navbarStyles .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #879ae6 !important;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbarStyles .nav-link:hover::after {
  width: 80%;
}

.navbarStyles .nav-link:hover {
  color: #879ae6 !important;
  
}

.navbarStyles .navbar-brand {
  padding: 0;
  margin: 0;
  
}

/* Logo de la marca */

.navbar-brand img {
  height: 16vh;
  margin: -1vh 0;
}

/* Aplica al texto "FenixBrokers" en el logo */
.navbarStyles .navbar-brand h2 {
  color: white !important;
  /* height: auto; */
  font-family: 'New Astro', sans-serif;
  font-size: 6vh;
  padding-top: 1.5vh;
  padding-bottom: 0;
}
.navbarStyles .navbar-brand h3 {
  color: white !important;
  font-family: 'New Astro', sans-serif;
  font-size: 2.4vh;
  padding-bottom: 0;
  
}

.logoTextStiles {
  display: flex;
  flex-direction: column;
  text-align: left;
  
  height: 13vh;
}

/* -------------------- BOTÓN HAMBURGUESA EN BLANCO -------------------- */
.toggleStyles {
  
}

.navbarStyles .navbar-toggler {
  border-color: white; /* borde blanco */
}

.navbarStyles .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Botón "drop-down" */

.custom-dropdown .dropdown-menu {
  background-color: #1F5D89;
  border: none;
}

.custom-dropdown .dropdown-item {
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.9rem;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #1c547f;
  color: #879ae6 ;
  font-weight: bold;
}

/* Botón "Cotizá Ahora" */
.cotiza-cta {
  background-color: #3353d3;
  color: rgb(255, 255, 255) !important;
  border: solid blue 1px; 
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 140px;
  font-size: 0.95rem;
}

.cotiza-cta:hover {
  color: #879ae6 !important;
  background-color: #0051b3;
 /*  background-color: #5e5ca2;
  text-decoration: none; */
}





/* -------------------- Media Queries para pantallas pequeñas -------------------- */

@media (max-width: 767px) {

  /* Mover el botón hamburguesa a la izquierda */

  .navbarStyles .navbar-toggler {  
    color: #1F5D89;
  }

  /* Mover el logo a la derecha */
  .navbarStyles .navbar-brand {
    margin-right: 12vh;
    
  }

  /* Asegura que los links estén alineados a la izquierda */
  .navbarStyles .navbar-nav {
    display: flex;
    flex-direction: column; /* Los enlaces estarán en columna */
    align-items: flex-start; /* Los enlaces estarán alineados a la izquierda */
    width: 100%;
    
  }
}

/*          FONTS         */

@font-face {
  font-family: 'New Astro';
  src: url('/src/assets/fonts/New\ Astro\ Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


