/* -------------------- PERSONALIZACIÓN NAVBAR -------------------- */

/*   ESTILOS NAVBARTOP     */

.navbarTop {
  background: linear-gradient(to bottom, var(--color-1), #89b1df, var(--color-1));
  padding: 0.5vh; 
  display: flex;
  justify-content: right;
  color: black;
}
.navbarTop a {
  margin-right: 4vh;
  color: var(--color-4);
}
.navbarTop a:hover {
  color: var(--color-5);
  transform: scale(1.45);
}


/*   FONDO Y LETRAS DEL NAVBAR     */

.navbarStyles {
  background-color: var(--color-1);
  color: white;
  padding: 1vh 1vh;
}

.navbarStyles .nav-link {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  color: white;
  font-weight: bold; 
  font-size: 2.4vh;
  
}

.navbarStyles .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  /* background-color: var(--color-3) !important;  */
  /* color: var(--color-3) !important; */
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbarStyles .nav-link:hover::after {
  width: 80%;
  background-color: var(--color-3); 
}

.navbarStyles .nav-link:hover {
  color: var(--color-3);
  
}

.navbarStyles .navbar-brand {
  padding: 0;
  margin: 0;
  
}

/* Logo de la marca */

.navbar-brand img {
  height: 12vh;
}

/* Aplica al texto "Fenix" en el logo */
.navbarStyles .navbar-brand h2 {
  color: white !important;
  font-family: 'New Astro', sans-serif;
  font-size: 6.5vh;
  padding-top: 1vh;
}

.logoTextStiles {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
}

/* -------------------- BOTÓN HAMBURGUESA EN BLANCO -------------------- */
.toggleStyles {
}

.navbarStyles .navbar-toggler {
  border-color: white; /* borde blanco */
  
}

.navbarStyles .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Botón "drop-down" */

.custom-dropdown .dropdown-menu {
  background-color: var(--color-1);
  border: none;
}

.custom-dropdown .dropdown-item {
  color: white;
  font-weight: bold;
  font-size: 2.4vh;
}

.custom-dropdown .dropdown-item:hover {
  background-color: var(--color-1);
  color: var(--color-3);
  font-weight: bold;
}


/* Botón "Cotizá Ahora" */
.cotiza-cta {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  border: solid var(--color-3) 1px; 
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  /* min-width: 140px; */
  width: 15%;
  
}

.cotiza-cta:hover {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  border: solid var(--color-6) 1px; 
  color: var(--color-6) !important;
}


/* -------------------- Logo Whatsapp flotante -------------------- */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

/* -------------------- Logo Instagram flotante -------------------- */
/* .instagram-float {
  position: fixed;
  bottom: 90px; 
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.instagram-float img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.instagram-float:hover {
  transform: scale(1.1);
} */



/* -------------------- Media Queries para pantallas pequeñas -------------------- */

@media (max-width: 991px) {

  /* Contenedor principal del navbar */
  .navbarStyles {
    position: relative;
    padding: 1vh 2vh;
  }

  .navbarStyles .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* centra el logo */
  }

  /* Logo centrado */
  .navbarStyles .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding: 0;
  }

  /* Botón hamburguesa fijo en la parte superior izquierda */
  .navbarStyles .navbar-toggler {
    position: absolute;
    top: 1.5vh;
    left: 2vh;
    border-color: white;
    z-index: 2000; /* por encima del menú */
  }

  /* El menú desplegable */
  .navbar-collapse {
    background-color: var(--color-1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  /* Ajustes de los enlaces */
  .navbarStyles .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarStyles .nav-link {
    text-align: left;
    justify-content: flex-start;
    width: 80%;
    font-size: 2vh;
  }
  .navbarStyles .nav-link:hover::after {
    width: 30%;
    background-color: var(--color-3); 
  }

  .navbarStyles .nav-link::after {
    left: 0;
    transform: none;
  }

  .navbar-brand img {
    height: 8vh;
  }

  .navbarStyles .navbar-brand h2 {
    font-size: 4.5vh;
  }

  .custom-dropdown .dropdown-item {
    font-size: 2vh;
  }

  .cotiza-cta {
    padding: 0.5vh 1vh;
    margin: 1vh 0;
    width: 40% !important;
  }

  body, html {
    overflow-x: hidden;
  }
}




/* === Notebooks estándar (992px - 1199px) === */
@media (min-width: 992px) and (max-width: 1199px) {

  .navbarStyles {
    padding: 0 2vh;
  }
  /* Logo más chico */
  .navbar-brand img {
    height: 7vh;
  }

  /* Texto FENIX más compacto */
  .navbarStyles .navbar-brand h2 {
    font-size: 4vh;
  }

  /* Links más chicos y menos margen */
  .navbarStyles .nav-link {
    font-size: 1.5vh;
    margin: 0;
    padding: 0;
  }

  /* Botón Cotizá Ahora adaptado */
  .cotiza-cta {
    padding: 0.2vh 0 !important;
  }

  /* Evitar desbordes */
  .navbarStyles .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    overflow-x: hidden;
    overflow: visible !important;
  }
  .custom-dropdown .dropdown-menu {
    position: absolute !important;
    z-index: 1050; /* sobre el resto */
  }
  .custom-dropdown .dropdown-item {
    font-size: 1.8vh !important;
  }
}


/* === Pantallas grandes (mas de 1200px) === */
@media (min-width: 1200px) and (max-width:1400px) {

  /* Logo más chico */
  .navbar-brand img {
    height: 8vh; 
  }
  /* Texto FENIX más compacto */
  .navbarStyles .navbar-brand h2 {
    font-size: 4.5vh;
  } 

  /* Links más chicos y menos margen */
  .navbarStyles .nav-link {
    font-size: 1.9vh; 
    margin: 0;
    padding: 0; 
  }

  /* Botón Cotizá Ahora adaptado */
  .cotiza-cta {
    padding: 0vh 1vh !important;
  } 

  /* Evitar desbordes */
  .navbarStyles .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    overflow-x: hidden;
    overflow: visible !important;
  }
  .custom-dropdown .dropdown-menu {
    position: absolute !important;
    z-index: 1050; /* sobre el resto */
  }
  .custom-dropdown .dropdown-item {
    font-size: 1.8vh !important;
  }
}


