/*            CONTENEDOR CARD SOMOS FENIX         */

.ContainerCardSomosFenix {
  width: 100%;
  /* max-width: 1200px;  */
  margin: 0;
  background: linear-gradient(to bottom, #89b1df , var(--color-7), var(--color-7) );
  padding: 5vh 20vh;
}

/* Card contenedor */
.cardSomosFenix {
  position: relative;
  height: 400px;
  border: none;
  overflow: hidden;
  box-shadow: 5px 2px 30px var(--color-2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagen de fondo como capa */
.cardImageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 1;
}

/* Overlay del contenido */
.cardOverlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  background-color: transparent !important;
}

/* Estilos del texto */
.cardTitle {
  margin: 0;
  font-family: 'New Astro', sans-serif;
  font-size: 6vh !important;
  font-weight: 400;
  color: var(--color-7);
  text-align: center;
  padding: 5vh 0;
}

.cardText {
  margin: 0 12vh;
  font-family: 'New Astro', sans-serif;
  font-size: 3vh !important;
  font-weight: 400;
  color: var(--color-7) !important;
  text-align: center;
}

/*        CONTENEDOR CARD SUCURSAL      */

/* Contenedor principal de la card */
.ContainerSucursal {
  margin: 0;
  padding: 5vh;
  background: linear-gradient(to bottom , var(--color-7), var(--color-7), var(--color-7), #89b1df );
}

/* Estilos de la tarjeta */
.SucursalCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  border: none;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  padding: 5vh 0;
}

/* Contenedor del texto */
.SucursalText {
  padding: 0;
  flex: 1;
  width: 100%;
}

/* Título de la card */
.SucursalTitle {
  margin: 0;
  font-family: 'New Astro', sans-serif;
  font-size: 5vh !important;
  font-weight: 400;
  color: var(--color-1);
  text-align: center;
}
.SucursalSubTitle {
  margin: 0;
  /* font-family: 'New Astro', sans-serif; */
  font-size: 2.5vh !important;
  font-weight: bold;
  color: var(--color-1);
  text-align: center;
  padding-bottom: 5vh;
}

/* Descripción de la card */
.SucursalDescription {
  margin: 0 4vh;
  font-size: 2.5vh !important;
  color: var(--color-1) !important;
  
  text-align: center;
  padding-bottom: 5vh;
}

/* Botón */
.SucursalBTN {
  background: linear-gradient(to bottom, #89b1df, #358ae9, #358ae9);
  color: white !important;
  border: solid var(--color-3) 1px; 
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block; 
  font-size: 2.5vh;
  padding: 1vh;
  margin: 2vh;
  transition: all 0.3s ease;
  width: auto;
}

.SucursalBTN:hover {
  background: linear-gradient(to bottom, #fbc296,#fbc296,#f8992e);
  color: var(--color-6) !important;
  border: solid var(--color-6) 1px;
  transform: translateX(7px);
}

/*        Mapa de la oficina       */  
.SucursalMap {
  flex-shrink: 0;
  width: 40%;
  height: 50vh;
  border: none;
  overflow: hidden;
  border-radius: 20px /* 0 22px 22px 0 */;
  margin: 6vh;
  box-shadow: 5px 2px 30px var(--color-2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*-------------------MEDIA QUERYS--------------------*/

/* === Smartphones chicos (hasta 575px) === */
@media (max-width: 575px) {

  /*       SOMOS FENIX        */
  .ContainerCardSomosFenix {
    padding: 1vh 1vh;
  }  
  .cardSomosFenix {
    height: 35vh;
  }
  .cardTitle {
    font-size: 3.5vh !important;
   }
  .cardText {
    font-size: 2vh !important;
    margin: 0;
  } 

  /*     SUCURSAL FENIX      */
  .ContainerSucursal {
    padding: 2vh 1vh;
  }
  .SucursalCard {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .SucursalDescription {
    margin: 0vh;
    font-size: 2vh !important;
  }
  .SucursalBTN {
    font-size: 1.8vh;
  }
  .SucursalMap {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  
  /*       SOMOS FENIX        */
  .ContainerCardSomosFenix {
    padding: 1vh 1vh;
  }  
  .cardTitle {
    font-size: 4vh !important;
   }
  .cardText {
    font-size: 2.2vh !important;
    margin: 0;
  } 

  /*     SUCURSAL FENIX      */
  .SucursalCard {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .SucursalDescription {
    margin: 0vh;
    font-size: 2.2vh !important;
  }
  .SucursalBTN {
    font-size: 1.8vh;
  }
  .SucursalMap {
    width: 90%;
  }
}

/* === Tablets horizontales y notebooks chicos (768px - 991px) === */
@media (min-width: 768px) and (max-width: 991px) {
  
  /*       SOMOS FENIX        */
  .ContainerCardSomosFenix {
    padding: 5vh 5vh;
  }  
  .cardTitle {
    font-size: 4vh !important;
   }
  .cardText {
    font-size: 2.2vh !important;
    margin: 0;
  }  

  /*     SUCURSAL FENIX      */
  .SucursalCard {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .SucursalDescription {
    margin: 0vh;
    font-size: 2.2vh !important;
  }
  .SucursalBTN {
    font-size: 2vh;
  }
  .SucursalMap {
    width: 90%;
  }
}

/* === Notebooks estándar (992px - 1199px) === */
@media (min-width: 992px) and (max-width: 1199px) {
  
  /*       SOMOS FENIX        */
  .ContainerCardSomosFenix {
    padding: 5vh 5vh;
  }  
  .cardTitle {
    font-size: 5vh !important;
   }
   .cardText {
    font-size: 2.5vh !important;
   }

   /*     SUCURSAL FENIX      */
  .SucursalCard {
    display: flex;
    flex-direction: row;
  }
  .SucursalSubTitle {
    padding-bottom: 2vh;
  }
  .SucursalDescription {
    margin: 0;
    padding: 3vh 1vh;
    font-size: 2.2vh !important;
  }
  .SucursalBTN {
    font-size: 2vh;
  }
  .SucursalMap {
    width: 40%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  
  /*       SOMOS FENIX        */
  .ContainerCardSomosFenix {
    padding: 5vh 10vh;
  }  
  .cardTitle {
    font-size: 5vh !important;
  }
  .cardText {
    font-size: 2.5vh !important;
  }

  /*     SUCURSAL FENIX      */
  .SucursalCard {
    display: flex;
    flex-direction: row;
  }
  .SucursalSubTitle {
    padding-bottom: 2vh;
  }
  .SucursalDescription {
    margin: 0;
    padding: 2vh;
    font-size: 2.2vh !important;
  }
  .SucursalBTN {
    font-size: 2vh;
  }
  .SucursalMap {
    width: 40%;
  }
}

